body {
	background-image: url("../images/wallpaper.jpg");
	background-color: black;
    background-position: center; 
	background-repeat: no-repeat;
}
#imagesMain {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 400px;
  text-align: center;
}
#imagesMain img {
  padding: 50px;
  height: 50px;
  width: 50px;
  vertical-align: middle;
}
#imagesSocial {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  text-align: center;
}
#imagesSocial img {
  padding: 5px;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}




