:root {
  font-variant-ligatures: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
@media only screen and (min-device-width : 481px) {
  .nav-btn {
    font-size: 20px;
  }
  .reset img {
    max-width: 20px;
    bottom: -8px;
  }
  .serv-buttons img {
    max-width: 13px;
    margin-right: 28px;
    margin-left: 28px;
  }
  .serv p {
    font-size: 20px;
  }
  #percentage {
    font-size: 20px;
  }
}
@media only screen and (min-device-width : 200px) and (max-device-width : 480px) {
  .nav-btn {
    font-size: 30px;
  }
  .reset img {
    max-width: 35px;
    bottom: -19.5px;
  }
  .serv-buttons img {
    max-width: 20px;
    margin-right: 23px;
    margin-left: 23px;
  }
  .serv p {
    font-size: 25px;
  }
  #percentage {
    font-size: 30px;
  }
}
/*begin:text*/
@font-face {
  font-family: "Hairline";
  src: url("fonts/Hairline.ttf") format("truetype");
  font-weight: 100;
}
#blog {
  float: right;
  right: 30px;
}
#contact {
  float: left;
  left: 30px;
}
#percentage {
  position: fixed;
  font-family: "Hairline";
  letter-spacing: 0px;
  color: #000000;
  right: 28px;
  top: 22px;
  opacity: 0;
}
#title {
  text-transform: uppercase;
  color: #000000;
  font-size: 40px;
  font-family: "Hairline";
  letter-spacing: 8px;
  padding-left: 3px;
  padding-right: 3px;
}
.nav-btn {
  word-spacing: 0px;
  letter-spacing: 0px;
  font-family: "Hairline";
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: .5px solid #000000;
  color: #000000;
  border-radius: 5px;
  position: relative;
  margin: auto;
  bottom: 30px;
  opacity: 1;
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
}
.reset img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*end:text*/

/*begin:layout*/
body {
  margin: auto;
  background: #CCCCCC;
}
a {
  text-decoration: none;
}
/*end:layout*/
.serv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 29.5px;
  column-gap: 83px;
  margin-right: 91px;
  margin-left: 91px;
  flex: 2 0 21%;
}
.container img {
  border-radius: 3px;
}
.container {
  justify-content: space-between;
  color: #000000;
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
}
.serv p {
  word-spacing: 0px;
  letter-spacing: 0px;
  font-family: "Hairline";
  margin-top: 5px;
}
/*begin:elements*/
.title-serv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-serv img {
  padding-top: 70px;
  padding-left: 16px;
  padding-right: 16px;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 350px;
  flex: 0 0 350px;
}
.serv-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 100px;
}
.serv-buttons img {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 5px;
  margin-bottom: 100px;
  flex: 0 0 13px;
}
.container:hover {
  opacity: 0.75;
  color: #FFFFFF;
  transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
}
.nav-btn:hover {
  color: #FFFFFF;
  border: .5px solid #FFFFFF;
  transition: all 0.12s ease-in-out;
  -moz-transition: all 0.12s ease-in-out;
  -webkit-transition: all 0.12s ease-in-out;
}
#color-logo {
  margin-top: 50px;
  margin-bottom: 30px;
}
#color-logo p {
  margin-right: -8px;
  margin-left: -1px;
  margin-top: 50px;
  margin-bottom: 57px;
}
#body-float {
  position: fixed;
  z-index: 1;
  pointer-events: none;
}
#hideNeko {
    position: sticky;
    top: 0;
    left: 0;
    width: 33px;
    height: 33px;
    background-color: #CCCCCC;
    z-index: 1001;
}
/*end:elements*/
