/*begin:text*/
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Thin.ttf') format("truetype");
}
#microblog {
        position: absolute;
        font-size: 20px;
        font-family: 'Lato';
        padding: 8px;
        background-color: rgba(255,255,255,.5);
        color: black;
        border: 1px solid white;
        border-style: solid;
        border-radius: 20px;
        left: 29px;
        top: 30px;
        opacity: 1.0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
    }
#percentage {
    position: fixed;
    font-size: 20px;
    font-family: 'Lato';
    padding: 8px;
    border: 1px solid white;
    border-style: solid;
    border-radius: 20px;
    right: 30px;
    top: 30px;
}

#resume {
    text-align:left;
}
#title {
     text-transform:uppercase;
     color:white;
     font-size:30px;
     font-family: 'Lato';
     display:block;
     margin:auto;
     margin-bottom:80px;
     letter-spacing:1em;
}
/*end:text*/

/*begin:layout*/
body {
    margin:auto;
    text-align:center;
    background:linear-gradient(#c0c0c0, #1e1e1e);
}
.framed {
    min-height:95%;
    border-width:12px;
    border-style:solid;
    border-color:white;
}
a {
    text-decoration:none;
}
/*end:layout*/

/*begin:elements*/
#line{
    width:699px;
    margin:auto;
}
#portrait{
    margin:120px;
}
.feed{
    margin-top: 12px;
    margin-bottom: 12px;
}
.feedItem{
    margin:85px;
}
.red{
    border-color:red;
    border-left: 1px solid rgba(255, 0, 0, 0.5);
}
.orange{
    border-color:orange;
    border-left: 1px solid rgba(255, 165, 0, 0.5);
}
.yellow{
    border-color:yellow;
    border-left: 1px solid rgba(254, 255, 0, 0.5);
}
.green{
    border-color:green;
    border-left: 1px solid rgba(0, 128, 1, 0.5);
}
.blue{
    border-color:blue;
    border-left: 1px solid rgba(23, 0, 255, 0.5);
}
.purple{
    border-color:purple;
    border-left: 1px solid rgba(128, 0, 128, 0.5);
}
.button {
  font-family: 'Lato';
  font-size:16px;
  background-color: rgba(255,255,255,.5);
  color: black;
  border: 1px solid white;
  border-radius: 12px;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}
.buttonHover:hover {
  opacity: .5;
      transition: opacity .55s ease-in-out;
      -moz-transition: opacity .55s ease-in-out;
      -webkit-transition: opacity .55s ease-in-out;
}
#resume img {
    width: 63px;
    position: relative;
    padding: 8px;
    right: 2px;
    bottom: -1px;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}
#vCard img {
    position: fixed;
    padding: 8px;
    right: 25px;
    bottom: 25px;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}
#iconsLarge img {
  padding: 55px;
  width: 70px;
  opacity: 1.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}
#iconsLarge img:hover {
    opacity: .5;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
}
#iconsSmall img {
  padding: 5px;
  width: 50px;
  opacity: 1.0;
  margin-top: 50px;
  margin-bottom:120px;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}
#iconsSmall img:hover {
    opacity: .5;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
}
#microblog:hover {
    opacity: .5;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
}
#vCard img:hover {
    opacity: .5;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
}
#resume img:hover {
    opacity: .5;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
}
/*end:elements*/

/*begin:effects*/
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
/*end:effects*/
