:root {
  font-variant-ligatures: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .entry a {
    font-size: 2.5em;
    }
    #title {
    font-size: 3em;
    }
}
@media only screen and (min-device-width : 481px) {
    .entry a {
    font-size: 2.375em;
    }
    #title {
    font-size: 2.875em;
    }
}
/*begin:text*/
@font-face {
  font-family: "Hairline";
  src: url("../../style/fonts/Hairline.ttf") format("truetype");
  font-weight: 66;
}
@font-face {
  font-family: "Thin";
  src: url("../../style/fonts/Thin.ttf") format("truetype");
}
/*begin:layout*/
#title {
  color: #000000;
  font-family: "Hairline";
  margin-top: 100px;
  margin-bottom: 0px;
  letter-spacing: 8px;
  word-spacing: -4px;
  /* Smartphones (portrait and landscape) ----------- */
}
body {
  margin: auto;
  background: #cccccc;
}
.framed {
  min-height: 95%;
  border-width: 14.5px;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 25px;
  text-align: center;
}
.entry {
  width: 830px;
  margin: auto;
  margin-top: 48px;
  background: #c5c5c5;
  border-radius: 5px;
  padding-top: 20px;
}
.entry a {
  color: #000000;
  letter-spacing: 2px;
  word-spacing: -1px;
  font-family: "Hairline";
  text-decoration: none;
}
.entry img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  border-radius: 3px;
}
.header {
  padding-top: 23px;
}
.contents {
  font-size: 1.375em;
  text-align: left;
  font-family: "Thin";
  letter-spacing: 0px;
  word-spacing: .5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 22px;
  text-indent: 50px;
  line-height: 1.75;
}
#footer {
  position: relative;
  margin-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 16px;
}
#nodes {
}
#home {
  display: inline-block;
  border: 1px solid #ffffff;
  overflow: hidden;
  border-radius: 200px;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
#home img {
  max-width: 20px;
  padding: 5px;
  padding-bottom: 3px;
}
#footer :hover {
  opacity: 0.75;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
.fade-in {
  animation: fadeIn 10s;
  -webkit-animation: fadeIn 10s;
  -moz-animation: fadeIn 10s;
  -o-animation: fadeIn 10s;
  -ms-animation: fadeIn 10s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
